@model Gym.Core.ViewModels.HomeViewModel
@{
    ViewBag.Title = "الصفحة الرئيسية";
}
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@Model.TraineeCount</div>
                        <div>ادارة الاعضاء</div>
                    </div>
                </div>
            </div>
            <a href="/Trainee/List">
                <div class="panel-footer">
                    <span class="pull-left">التفاصيل</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-left">
                        <div class="huge">@Model.SubscriptionsCount</div>
                        <div>ادارة الاشتراكات</div>
                    </div>
                </div>
            </div>
            <a href="/Subscriptions/List">
                <div class="panel-footer">
                    <span class="pull-left">التفاصيل</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>